.lds_heart {
  position: relative;
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
}

.lds_heart div {
  position: absolute;
  width: 32px;
  height: 32px;
  background: var(--dark-purple);
  animation: .9s lds_heart_init 0s,1s lds_heart 1s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds_heart div:after,
.lds_heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: var(--dark-purple);
}
.lds_heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds_heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds_heart_init {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds_heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
