.main_container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.top_plant_icon {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(25%, -30%) rotate(60deg);
  z-index: -1;
}

.main_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 24px;

  width: 80%;
  margin: auto;
}

.header_container h1 {
  font-weight: 500;
  font-size: 2rem;

  color: var(--dark-purple);
}

.gifts_container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.gifts_container::-webkit-scrollbar {
  width: 20px;
}
.gifts_container::-webkit-scrollbar-track {
  background-color: transparent;
}
.gifts_container::-webkit-scrollbar-thumb {
  background-color: var(--dark-purple);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.img_card {
  display: inline-block;
  align-self: center;
  justify-self: center;
  max-width: 50vw;
  max-height: 50vw;

  display: inline-block;
  margin: auto 2vw;
  width: 250px;
  height: 250px;
  transition: all 0.4s ease-out;
}

.img_card.selected_image {
  width: 400px;
  height: 400px;
}

.img_card p {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--dark-purple);
}

.image_section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 48px;
}

.image_section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hearts_division {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  max-width: 80vw;
  width: min(100%, 700px);
  margin: auto;
}

.hearts_division i {
  width: 100%;
  flex-grow: 1;
  border-radius: 20% 0;
  border: var(--second-color) solid 2px;
}

.hearts_division .hearts {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-grow: 2;
  width: 100%;
}

.button_container {
  max-width: 480px;
  width: max(50%, 252px);
  margin: auto;
}

.button_container button {
  width: 100%;
  height: 64px;
  border-radius: 42px;
  background: var(--dark-purple);

  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--white);

  cursor: pointer;
}

.button_container button:hover {
  opacity: 0.8;
}

.button_container.hasConfirmed{
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.4;
}

@media (max-width: 600px) {
  .img_card {
    width: 150px;
    height: 150px;
  }

  .img_card.selected_image {
    width: 200px;
    height: 200px;
  }
}
