* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  --primary-color: #fcebff;
  --second-color: #aa5aa8;
  --dark-purple: #784F80;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
